<div class="step-search-form">
  <div class="form-wrapper">
    <div class="form">
      <div class="overlap">
        <img class="pokeball" src="https://c.animaapp.com/m8f4tf87B6OKYS/img/pokeball.png" alt="Pokeball" />

        <div class="search">
          <label for="pokemon-search" class="text-wrapper">Pokemon Name or Id</label>
          <input type="text" id="pokemon-search" class="rectangle" placeholder="">
        </div>

        <div class="buttons-container">
          <button class="search-btn">
            <div class="btn-text" (click)="search()">Search</div>
          </button>

          <button class="random-btn">
            <div class="btn-text">Random</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
